
.pass-modal .modal-content{
    background: #172a3e91;
    min-width: 17vw;
    backdrop-filter: blur(2px);
    color: white;
  }

.pass-modal .modal-dialog{
    top:50%
}
.pass-modal .modal-footer{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: stretch;
}
.pass-modal .btn-secondary{
    background:#091017;
    border: 1px solid #cc01019c;

}
.pass-modal .btn-primary{
    background:#091017;
    border:1px solid #0991d6
}
.pass-modal .form-control{
    background-color: #1a526d36;
    border-radius: 0;
    padding-left: 0;
    border-bottom: 1px solid #0089ff;
    margin-bottom: 10px;
}

